.container {
    box-shadow: 0 0 5px#0088ff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #0004;
    border-radius: 8px;
    background-color: aliceblue;
}

.education-details {
    padding: 16px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.bottom-btn-bar {
    display: flex;
}