<div class="page-wrapper">
    <header class="hiw-header">
        <div id="containerHIW" class="container">
            <nav class="hiw-navbar">
                <a>
                    <img src="assets/resumenow.svg" alt="resumenow">
                </a>
                <a></a>
            </nav>
        </div>
    </header>
    <div class="custom-jumbotron">
        <div class="container">
            <div class="icon icon-pencil">
            </div>
            <h1>Have you ever made a <span class="yellow-curve-bdr">resume</span>?</h1>
            <div class="multi-check-wrapper">
                <div class="multi-check-group">
                    <button class="btn btn-outline-primary multi-check-item" (click)="currentIndex=1"
                        [ngClass]="{'btn-active': currentIndex==1}">Yes</button>
                    <button class="btn btn-outline-primary multi-check-item" (click)="currentIndex=2"
                        [ngClass]="{'btn-active': currentIndex==2}">No</button>
                </div>
                <div class="multi-check-dec" [ngClass]="{'active-dec': currentIndex}">
                    <p class="level">
                        <strong class="option-bold">{{expLevels[currentIndex].title}}</strong>
                        {{expLevels[currentIndex].desc}}
                    </p>
                </div>
            </div>
            <div class="jumbotron-footer">
                <button type="button" [routerLink]="'/choose-template'" routerLinkActive="router-link-active"
                    class="btn btn-primary btn-lg" id="btnContinue">See
                    Template</button>
            </div>
        </div>
    </div>
    <footer id="howItWorks" class="hiw-footer">
        <div class="container">
            <div class="hiw-primary-footer">
                <ul class="hiw-list-inline">
                    <li class="hiw-list-item">Terms</li>
                    <li class="hiw-list-item">Privacy Policy</li>
                    <li class="hiw-list-item">Contact Us</li>
                </ul>
                <div>
                    <p class="hiw-copyright">© 2025, NOW Limited. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>