<div class="container">
    <aside class="aside-nav dark-aside" [class.thin-nav]="currentIndex == currentMenuIndex">
        <mat-icon style="color: white;margin-bottom: auto;">menu</mat-icon>
        <ul>
            @for (section of sections; track $index)
            {
            @if ($index<6) { <li (click)="setActive($index)" matTooltip="section.title">
                @if (currentMenuIndex == $index) {
                <span class="progress-fill-container">
                    <svg width="29" height="28" class="filled" viewBox="0 0 29 28" fill="#97ECA3"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 29"
                            d="M7.49826 2C4.57435 4.80621 2 8.51113 2 13.4826C2 18.2684 5.24904 22.7808 8.51646 24.4867C11.38 25.9817 15.2713 26.3637 18.2912 25.6562C22.0292 24.7805 23.899 22.7873 26.1109 18.7454C28.4995 14.3807 25.6569 7.92864 22.5269 5.82753C18.7221 3.27352 12.5089 2.35348 8.51646 5.82753"
                            stroke="#D3FED9" stroke-width="3" stroke-linecap="round"></path>
                    </svg>
                    <span class="progress-fill-no">{{$index+1}}</span></span>
                }@else if (section.visited) {
                <span class="progress-fill-container" [class.visited]="section.visited">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                        <path
                            d="M6.49826 1C3.57435 3.80621 1 7.51113 1 12.4826C1 17.2684 4.24904 21.7808 7.51646 23.4867C10.38 24.9817 14.2713 25.3637 17.2912 24.6562C21.0292 23.7805 22.899 21.7873 25.1109 17.7454C27.4995 13.3807 24.6569 6.92864 21.5269 4.82753C17.7221 2.27352 11.5089 1.35348 7.51646 4.82753"
                            stroke="white" stroke-linecap="round"></path>
                    </svg>
                </span>
                }
                @else {
                <span class="progress-fill-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                        <path
                            d="M6.49826 1C3.57435 3.80621 1 7.51113 1 12.4826C1 17.2684 4.24904 21.7808 7.51646 23.4867C10.38 24.9817 14.2713 25.3637 17.2912 24.6562C21.0292 23.7805 22.899 21.7873 25.1109 17.7454C27.4995 13.3807 24.6569 6.92864 21.5269 4.82753C17.7221 2.27352 11.5089 1.35348 7.51646 4.82753"
                            stroke="white" stroke-linecap="round"></path>
                    </svg>
                </span>
                }
                <h6>{{section.title}}</h6>
                </li>
                }
                }
        </ul>
        <mat-icon style="color: white; margin-top: auto;">menu</mat-icon>
    </aside>
    <main>
        <div class="main-container">
            <div class="main-row fade-content" [class.fade-in]="animate">
                <div style="max-width: 750px;">
                    <h1>{{sections[currentIndex].Title}}</h1>
                    <h5>{{sections[currentIndex].subTitle}}</h5>
                </div>
                <div></div>
            </div>
            <div class="main-row fade-content" [class.fade-in]="animate">
                <div class="main-content">
                    @switch (currentIndex) {
                    @case (0) {<app-contact-info [resume]="resume"></app-contact-info>}
                    @case (1) {<app-skills [resume]="resume"></app-skills>}
                    @case (2) {<app-summary [resume]="resume"></app-summary>}
                    @case (3) {<app-experience [resume]="resume" [currentIndex]="experienceIndex"></app-experience>}
                    @case (4) {<app-education [resume]="resume" [currentIndex]="educationIndex"></app-education>}
                    @case (5) {<app-additional-details [resume]="resume"></app-additional-details>}
                    @case (6) {<app-education-summary [resume]="resume" (currentIndexChange)="educationIndex = $event"
                        (parentIndexChange)="currentIndex = $event"></app-education-summary>}
                    @case (7) {<app-experience-summary [resume]="resume" (currentIndexChange)="experienceIndex = $event"
                        (parentIndexChange)="currentIndex = $event"></app-experience-summary>}
                    @case (8) {<app-experience-update [resume]="resume"
                        [currentIndex]="experienceIndex"></app-experience-update>}
                    @case (9) {<app-section-intro [previousIndex]="previousIndex" (currentIndexChange)="continue()">
                    </app-section-intro>}
                    }
                </div>
                <div class="template-card">
                    <div class="template-preview">
                        <ng-container *ngComponentOutlet="template; injector: customInjector"></ng-container>
                        <!-- <template></template> -->
                    </div>
                    <a>Change Template</a>
                </div>
            </div>
            @if(currentIndex !=9){<div class="main-row" [class.fade-in]="animate">
                <div class="bottom-btn-bar">
                    @if (currentIndex){<button class="btn btn-outline-primary btn-lg"
                        (click)="backAction()">Back</button>}@else {<div></div>}

                    @if ([6,7].includes(currentIndex)) {<button class=" btn btn-primary btn-lg"
                        (click)="AddMore()"><mat-icon>add</mat-icon>Add
                        @if(currentIndex == 7){Experience} @else if(currentIndex == 6) {Education}</button>}
                    <button class="btn btn-primary btn-lg" (click)="continue()">Next</button>
                </div>
            </div>}
        </div>
    </main>
</div>
<!-- {{currentIndex+" "+ currentMenuIndex}} -->