.form-field {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.form-field label {
    font-size: small;
}

.form-field input {
    flex: 1;
    padding: 8px 16px;
    background-color: #00000005;
    border: 1px solid #0002;
    border-radius: 3px;
    transition: box-shadow 0.3s;
}

.form-field input:disabled {
    opacity: 0.5;
    box-shadow: 3px 3px 3px #0002;
}

.form-field input:hover {
    box-shadow: 3px 3px 3px #0002;
}

.form-field input:focus {
    outline: none;
    background-color: #0000;
}

.form-field::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: #2246c3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: 1;
}

.form-field:has(input:focus)::after {
    transform: scaleX(1);
}

.form-field:has(textarea:focus)::after {
    transform: scaleX(1);

}

.form-field select {
    flex: 1;
    padding: 10px 16px;
    background-color: #00000005;
    border: 1px solid #0002;
    border-radius: 3px;
    transition: box-shadow 0.3s;
}

.form-field select:focus {
    outline: none;
}

.form-field select:hover {
    box-shadow: 3px 3px 3px #0002;
}

.form-field:has(select:focus)::after {
    transform: scaleX(1);
}