<div class="container">
    <h5>Experience</h5>
    <ul cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of resume.experience; track $index) {
        <li class="experience-item" cdkDrag>
            <div class="experience-details">
                <h6>{{item.jobTitle}} | {{item.employer}}</h6>
                <h5>{{item.city}}, {{item.country}} </h5>
                <p>{{item.startDate | monthFormat}} - {{item.endDate | monthFormat}}</p>
            </div>
            <div [innerHTML]="item.desc"></div>
            <hr />
            <div class="bottom-bar">
                <div></div>
                <div class="bottom-btn-bar">
                    <button mat-button (click)="editExperiene($index)">
                        <mat-icon>edit</mat-icon>Edit
                    </button>
                    <button mat-button (click)="deleteExperience($index)">
                        <mat-icon>delete</mat-icon>Delete
                    </button>
                    <!-- No need to bind specifically to Move; the whole <li> is draggable -->
                    <button mat-button cdkDragHandle>
                        <mat-icon>open_with</mat-icon>Move
                    </button>
                </div>
            </div>
        </li>
        }
    </ul>
</div>