.container {
    min-width: 100%;
    display: flex;
    background-color: aliceblue;
}

.left-container {
    padding: 16px;
    flex: 1;
}

.template-container {
    display: grid;
    grid-template-columns: 200px;
    padding: 5px;
    gap: 3px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 1rem #000;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    max-height: 90vh;
    width: fit-content;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #999 #01237a44;
}

.template-card {
    transition: 500ms;
    filter: brightness(0.7);
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.template-card:hover::before {
    content: '';
    position: absolute;
    inset: -5px;
    background: conic-gradient(from var(--angle), red, yellow, green, blue);
    z-index: -2;
    opacity: 0.5;
    filter: blur(25px);
    animation: glowing-border 3s linear infinite;
}

.template-card:hover::after {
    content: '';
    position: absolute;
    inset: -2px;
    background: conic-gradient(from var(--angle), red, yellow, green, blue);
    z-index: -1;
    animation: glowing-border 3s linear infinite;
}

@keyframes glowing-border {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.template-card:hover {
    // box-shadow: 0 0 5px 5px aqua;
    transform: translateZ(60px);
    filter: brightness(1);
}

.template-card:hover+* {
    filter: brightness(.9);
    transform: translateZ(40px) rotateX(-20deg);
}

.template-card:hover+*+* {
    filter: brightness(.8);
    transform: translateZ(20px) rotateX(-10deg);
}

.template-card:has(+*:hover) {
    filter: brightness(.9);
    transform: translateZ(40px) rotateX(20deg);
}

.template-card:has(+* +*:hover) {
    filter: brightness(.8);
    transform: translateZ(20px) rotateX(10deg);
}

.template-preview {
    display: flex;
    width: fit-content;
    background-color: white;
    zoom: 0.2;
    height: 1100px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.pdf-content {
    margin: 0px;
    background-color: white;
}

.right-container {
    padding: 16px;
    flex: 1;
}

.icon-btn {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 3px;
}