<div class="container">
    <div class="left-container">
        <img src="/assets/resumenow.svg" alt="logo">
        <div class="template-container">
            <h6>Templates</h6>
            @for (item of templates; track $index) {
            <div class="template-card">
                <div class="template-preview" (click)="setTemplateIndex($index)">
                    <ng-container
                        *ngComponentOutlet="templates[$index].component; injector: customInjector"></ng-container>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="pdf-content" id="pdf-content">
        <ng-container *ngComponentOutlet="templates[templateIndex].component; injector: customInjector"></ng-container>
    </div>
    <div class="right-container">
        <button mat-flat-button class="icon-btn" (click)="downloadPDF()"><mat-icon>download</mat-icon>Download
            PDF</button>
        <button mat-flat-button class="icon-btn" (click)="downloadDocx()"><mat-icon>download</mat-icon>Download
            Docx</button>
    </div>
</div>