<div class="form-field">
    <label>INSTITUTION NAME</label>
    <input [(ngModel)]="resume.education[currentIndex].instituteName" placeholder="Oxford School of English" />
</div>
<div class="form-field">
    <label>INSTITUTE LOCATION</label>
    <input [(ngModel)]="resume.education[currentIndex].location" placeholder="New Delhi, India" />
</div>
<div class="form-field">
    <label>DEGREE</label>
    <input [(ngModel)]="resume.education[currentIndex].degree" placeholder="Oxford School of English" />
</div>
<div class="form-field">
    <label>FIELD OF STUDY</label>
    <input [(ngModel)]="resume.education[currentIndex].fos" placeholder="Financial Accounting" />
</div>
<div class="form-field">
    <label>GRADUATION DATE</label>
    <input [(ngModel)]="resume.education[currentIndex].date" type="month" placeholder="Month" />
</div>