.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 300px;
    min-height: 300px;

    input {
        flex: 1;
        border: none;
        outline: none;
        min-width: 150px;
    }
}

.skill-chip {
    background-color: #e0f0ff;
    color: #0366d6;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    height: 30px;

    button {
        border: none;
        background: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #0366d6;
    }
}

.NgxEditor__Wrapper {
    width: 300px;
    height: 400px;
    position: relative;
}

.NgxEditor__Wrapper::after {
    content: '';
    background-color: #0366d6;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    transition: transform 1s;
}

.NgxEditor__Wrapper:focus-within::after {
    transform: scaleX(1);
}

ngx-editor {
    background-color: #0366d6;
    height: 400px;
}

ngx-editor-menu {
    background-color: red;
    height: 400px;
}