<div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor [placeholder]="'Languages
    Hindi: Native speaker
    
    English: Proficient (C2)
    
    Bengali: Upper-intermediate (B2)
    
    Interests And Hobbies
    Recreational Football League – Team captain
    Two-time league champions
    Red Cross Volunteer
    Taught classes in lifesaving skills including: CPR, First Aid'" [editor]="editor"
        [(ngModel)]="resume.additional"></ngx-editor>
</div>